*{margin:5px;}
.banner{
    background-image:url(dts.jpg);
    height: 325px;
    position: relative;
}
.linkleft{
    float: left;
    display:inline;
}
.rightlink{
    float: right;
    display:inline;
}
.middle{
    text-align: center;
    padding: 10px;
}
.images{
    justify-content:center;
    position:absolute;
    display:inline-block;
    left:50vh;
    right: 50vh;
}